$Bright-orange: hsl(31, 77%, 52%);
$Dark-cyan: hsl(184, 100%, 22%);
$Very-dark-cyan: hsl(179, 100%, 13%);
$Transparent-white: hsla(0, 0%, 100%, 0.75);
$Very-light-gray: hsl(0, 0%, 95%);

*{
    margin: 0;
    padding: 0;
    font-size: 15px;
}

*::before,
*::after {
    box-sizing: border-box;
}

@mixin margin-left {
    margin-left: 10px;
    margin-right: 20px;
}
   

@mixin btn-bg($Very-light-gray){
    background: $Very-light-gray;

    &:hover {
        background: lighten($Very-light-gray, 10%);
    }

    &:active {
        background: transparent;
        color: $Very-light-gray;
        border: 2px solid $Very-light-gray;
    }
}

@mixin desktop {
    @media screen and (min-width: 768px) {
        @content;
    }
}
